<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/coffeeShop</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgre</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <mapping class="com.coffeeshop.models.dtos.IngredientDto"/>
        <mapping class="com.coffeeshop.models.dtos.CoffeeDto"/>
        <mapping class="com.coffeeshop.models.dtos.OrderDto"/>
        <mapping class="com.coffeeshop.models.coffeeRoot.Coffee"/>
        <mapping class="com.coffeeshop.models.defaultCoffees.Espresso"/>
        <mapping class="com.coffeeshop.models.defaultCoffees.Cappucino"/>
        <mapping class="com.coffeeshop.models.defaultCoffees.BlackCoffee"/>
        <mapping class="com.coffeeshop.models.defaultCoffees.CoffeeLatte"/>
        <mapping class="com.coffeeshop.models.defaultCoffees.CoffeeMiel"/>
        <mapping class="com.coffeeshop.models.defaultCoffees.Machiatto"/>
    </session-factory>
</hibernate-configuration>